.alert-button {
    display: none; /* Кнопка скрыта по умолчанию */
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000; /* Приоритет отображения кнопки */
    position: relative; /* Относительное позиционирование */
}

.alert-button.visible {
    display: block; /* Кнопка становится видимой */
}
