<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Видеопоток</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Видеопоток</h1>
    <div class="videos">
        <video width="320" height="240" controls autoplay loop>
            <source src="/videos/кирби падает в яму мем.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
        <video width="320" height="240" controls autoplay loop>
            <source src="/videos/кирби падает в яму мем.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
    </div>
</div>
</body>
</html>
