<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сотрудники</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Сотрудники</h1>
    <div class="employee-cards">
        <div th:each="employee : ${employees}" class="employee-card">
            <h2 th:text="${employee.name}"></h2>
            <p><strong>ID предприятия:</strong> <span th:text="${employee.idOfEnterprise}"></span></p>
            <p><strong>Последнее время:</strong> <span th:text="${employee.dateTime}"></span></p>
            <p><strong>Возраст:</strong> <span th:text="${employee.age}"></span> лет</p>
        </div>
    </div>
</div>
</body>
</html>
