<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Видеопоток</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        .alert-button {
            display: none;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: red;
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
        }
        .alert-button.visible {
            display: block;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Видеопоток</h1>
    <div class="videos">
        <video width="320" height="240" controls autoplay loop>
            <source src="/videos/кирби падает в яму мем.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
        <video width="320" height="240" controls autoplay loop>
            <source src="/videos/кирби падает в яму мем.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
        <video width="320" height="240" controls autoplay loop>
            <source src="/videos/кирби падает в яму мем.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
    </div>
    <button id="alertButton" class="alert-button visible">Вызвать охрану</button>

</div>
<script src="/js/app.js"></script>
<script>
    console.log("Скрипт работает!");
</script>
</body>
</html>
